.presentacion {
    background-color: yellow;
    text-align: center;
}

.presentacion h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
}

.presentacion h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:35px;
}

.presentacion h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
 
}
.seccion2 {
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}